.cardContainer{
    display: none;
    align-items: center;
    flex-direction: column;
    border: 2.8px solid black;
    border-radius: 10px;
    overflow: hidden;
    width: 250px;
    height: 400px;
}
.cardContainer { 
     /*   ai    */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}



/*  card heading  */
.cardHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.cardHeading > *{
    margin: 0 10px;
}

/* card main */
.cardImgItemContainer img{
    height: 100px ;
}
.cardImgItemContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}


/* card footer */

.cardFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.cardbottomContentDescriptionContainer{
    margin: 5px;
    position: relative;
}
.cardBottomContentDescription{
    transition: height 1s;
    height: 75px;
    overflow: hidden;
}
.cardBottomContentDescription p{
    font-size: 14px;
    margin: 10px;
}
.cardPriceContainer{
    margin-left: 5px;
}

/* buy now btn */

.cardBuyNowBtn{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37b9b5;
    border: 1.5px solid black;
    border-radius: 10px;
    color: whitesmoke;
    width: 138px;
    height: 40px;
    transition: background-color 1s;
    padding: 0 10px;
    overflow: hidden;
    margin-right: 5px;
}
.cardBuyNowBtn:hover{
    background-color: #09b59b;
}
.cardBuyNowBtn:hover .addToBasketImgDiv{
    background-color: #09b59b;
}
.cardBuyNowBtn:hover .tiltTrue{
    transform: rotate(-35deg);
}
.cardBuyNowBtn p{
    margin: 0;
    margin-left: 35px;
    font-size: 15px;
}
.cardBuyNowBtn img{
    transition: transform 0.5s;
    width: 25px;
    height: 25px;
}
.addToBasketImgDiv{
    position: absolute;
    transition: all 1s;
    z-index: 1;
    opacity: 1;
    background-color: #37b9b5 ;
}

/* shown more btn */

.cardShowMoreBtn{
    float: right;
    width: 100px;
    color: gray;
}
.cardShowMoreBtn p{
    margin: 0;
}

/* heart  */
.heartImg{
    position: absolute;
    width: 50px;
    visibility: hidden;
}
.active{
    width: 200px;
    transition: all 1s;
    opacity: 0.2;
    visibility: visible;
}
.cardLikeCounterDiv{
    display: flex;
    flex-direction: row;
    gap: 5px;
}