body{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 204, 158);
    width: 100vw;
    max-height: 80px;
    padding: 10px;
    margin-bottom: 50px;
}
#leftHeader, #rightHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#rightHeader{
    margin-right: 20px;
}
#headerLogoDiv{
    margin: 0px 20px;
}
#headerShoppingCartContainer, #headerProfiel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 10px;
}
#headerShoppingCartContainer p, #headerProfiel p {
    position: absolute;
    margin: 0;
    font-size: 12px;
    transform: translateY(15px);
    visibility: hidden;
    transition: transform 0.5s;


}

/* hover */
#headerShoppingCartContainer:hover p, #headerProfiel:hover p{
    visibility: visible;
    transform: translateY(25px);
}

/* main */

#cardGallary{
    margin: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
}